#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
58964634-aac9-4f38-ab29-5d09f1d564d6.dmp
/src/__pycache__
